{% extends "layout.html" %}
{% block title %}Could not find {{ name }}{% endblock %}
{% block content %}
<h2>Sorry, we could not find <u>{{ name }}</u></h2>
<p>This does not mean your name is not in the photo. About <b>11%</b> of all names were missed in the searching process. If your name is particularly difficult to spell or read, the lesser chance we picked up on it.</p>
<p>Or your name is just not on there. That is also a possibility ¯\_(ツ)_/¯</p>
<a href="/">Go find another name</a>
{% endblock %}