{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<br>
<img src="{{ url_for('static', filename='logo.png') }}" width="390" height="220" />
<br>
<br>
<p>Enter the name of the player/creator/composer you want to find!</p>
<form id="form">
    <div class="input-group mb-3">
        <input type="text" placeholder="Name here!" id="name" class="form-control" autocomplete="off" />
        <button type="submit" class="btn btn-primary">Find name</button>
    </div>
</form>
<p><b>
    Note: About 11% of all names on the image were not able to be picked up by the image recognition software <i>(Tesseract-OCR, if anyone is curious)</i>. These names <u>are in the image</u>, but you'll have to find them first ;)
</b></p>
<p>
    If a name was not found but you are extremely positive that it was on the image, please raise an issue on the GitHub repo (linked below) with image proof that the name is on there. All we have are image scans which are not the most accurate thing in the world.
</p>
<script>
    document.getElementById("form").onsubmit = function redirectToNamePage(e) {
        e.preventDefault()
        const name = document.getElementById("name").value
        window.location.href = `/name/${name}`
    }
</script>
{% endblock %}